.wy-nav-content {
    max-width: none;
}

table {
    width: 100%;
}
th {
    background-color: #5d6cc0 !important;
    color: white !important;
}

tr:nth-child(even) {
    background-color: #edf4f4;
  }

.tab-font{
    font-size: medium;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: 40%;
    position: relative;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.note-block {
    background-color: lightgrey;
    border: 1px solid gray;
    padding: 1em;
    margin: 2em;
}

.todo-block {
    background-color: lightyellow;
    border: 1px solid darkred;
    padding: 1em;
    margin: 2em;
    font-style: italic;
}
.md-grid{
    max-width: 98% !important;
}

.md-container {
    zoom: 110%;
    padding: 0;
    margin: 0;

}
.md-typeset__scrollwrap{
    display: grid
}

#roadmap-table td{
    font-size: .7rem;
    line-height: 1; 
    max-width: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    cursor: pointer;
    background-color: #c93c2a !important;
    color: white !important;
}
#roadmap-table th{
    background-color: #e05638 !important;
    color: white !important;
} 

#roadmap-table tr:nth-child(even) {
    background-color: #e5f1f1;
  }

.table-bordered th, .table-bordered td { 
    border: 0.1px solid #ddd!important;
    padding: 8px;
    font-size: .7rem;
    line-height: 1;
    cursor: pointer;
 } 

.highlight{
    background-color: cornsilk
}

#total-table th{
    display: none;
}
.fixed-table-toolbar{
    width: 20%;
    float: right;
}
